/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/Navbar/style.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.style_navbar__cnLYx {
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
}

.style_left__6qIH_ {
  flex: 1 1;
  font-weight: 500;
}

.style_center__6uRpA {
  font-size:30px;
  flex: 2 1;
  text-align: center;
}

.style_right__ctLA7 {
  flex: 1 1;
  text-align: right;
}

.style_username__gaFHK {
  margin-right: 10px;
}

.style_navLinks__V3ccI {
  list-style-type: none;
  padding: 0;
}

.style_navLinks__V3ccI li {
  display: inline-block;
  margin-right: 10px;
}

.style_navLinks__V3ccI li:last-child {
  margin-right: 0;
}

.style_navLinks__V3ccI li a {
  color: black;
  text-decoration: none;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/Todo/style.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.style_heading__T3bp_{
    text-align: center;
    font-family: "Poppins";
    font-size: 30px;
    padding-top: 60px;
}

.style_tasks__HwjLe{
    text-align: center;
    font-family: "Poppins";
}

.style_listContainer__UzNhQ{
    font-family: "Poppins";
}
.style_addtask__32JwW{
    padding-top: 10px;
}

.style_container__I003V{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/Timer/style.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.style_container__gExcz {
  font-family: "Poppins";
}

.style_time__1QQ8R{
  text-align: center; /* Align text center */
  font-size: 44px;
  margin-top: 50px;
  margin-bottom: 140px;
  width: 100%; /* Make time component occupy full width */
}


.style_flexContainer__SflOL {
  display: flex;
  justify-content: space-between; /* Align components with space between */
  width: 100%;
}

.style_component1__PAkFy,
.style_component2__VTA4H,
.style_component3__R_ByL {
  flex: 1 1; /* Each component takes equal space */
  margin: 0 10px; /* Adjust margins as needed */
}
.style_buttons__YelMM {
  display: flex;
  justify-content: space-between; /* Arrange buttons horizontally with space between */
  margin-bottom: 20px;
  font-family: "Poppins";
}

.style_buttons__YelMM button {
  flex: 1 1; /* Each button takes equal space */
  margin: 0 5px; /* Adjust margins between buttons */
}
.style_textAreaContainer__P6qUa textarea {
  width: 100%;
}

.style_barGraph__6MnI8 {
  margin-top: 20px;
}

.style_rectangle__HR2br {
  color: white;
  background-color: rgba(164, 78, 217,0.8); /* Slightly dark shade of white */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Adjust border radius as needed for rounded corners */
  box-shadow: 0 4px 6px rgba(164, 78, 217,0.6); /* Add shadow effect */
}

.style_rectangle__HR2br table {
  width: 100%; /* Set table width to 100% */
}

.style_rectangle__HR2br td {
  text-align: center; /* Align table data content to the left */
}

.style_subject__AyXyl {
  text-align: left; /* Align subject text to the left */
}

.style_focus__53p_Z{
  font-style: italic;
  padding-top: 30px;
  font-weight: 100;
  font-size: 24px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/CommunityApp/style.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.style_container__hMWDK{
    text-align: center;
    font-family: "Poppins";
    padding-top: 100px;
}

.style_heading__EpPY9{
    font-size: 30px;
}

.style_create__HQilt{

    position: absolute;
    left:80px;
    display:block;
    justify-content: space-between;
}

.style_communities__84Xky{
    position: absolute;
    right:80px;
}

